body {
  background: #CCC;
  font-family: Monaco;
  background: -webkit-gradient(radial, center center, 450, center center, 0, from(#cccccc), to(white)); }

.vessel {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 20px auto 0; }
  .vessel a {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Microsoft YaHei;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 6px;
    color: black; }
    .vessel a :hover {
      border: 1px solid #eee;
      background: #000; }

.handle {
  width: 600px;
  margin: 10px auto; }
  .handle .source {
    width: 99%;
    display: block; }
  .handle .tip_line {
    font-size: 14px;
    padding: 0 0 0 10px;
    opacity: 0.8; }
  .handle code {
    font-size: 14px;
    background: #DDD;
    border-radius: 3px;
    padding: 2px; }
