@mixin gradient($type, $inner, $inner_width, $outer, $outer-width, $from, $to) {
    background:-webkit-gradient($type, $inner, $inner_width, $outer, $outer-width, $from, $to);
}

body {
    background: #CCC;
    @include gradient(radial,center center,450,center center,0, from(#CCC), to(#FFF));
}
.vessel {
    position:relative;
    width:450px;
    height:300px;
    margin: 20px auto 0;
    a {
        position:absolute;
        top:0;
        left:0;
        font-family: Microsoft YaHei;
        font-weight:bold;
        text-decoration:none;
        padding: 3px 6px;
        color: black;
        :hover {
            border: 1px solid #eee; background: #000; 
        }
    }
}
.handle {
    width: 600px;
    margin: 10px auto;
    .source {
        width: 99%;
        display: block;
    }
}
